@font-face {
    font-family: PT Sans R;
    src: url(../assets/fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: Farro;
    src: url(../assets/fonts/Farro-Regular.ttf);
}

@font-face {
    font-family: Francois One;
    src: url(../assets/fonts/FrancoisOne-Regular.ttf);
}

@font-face {
    font-family: Staatliches;
    src: url(../assets/fonts/Staatliches-Regular.ttf);
}

.flex {
    display: flex;
}

.chapter {
    font-family: "Francois One";
}

.chapter-span {
    font-family: "Farro";
}

.s-uderline {
    text-decoration: underline;
}

.s-italic {
    font-style: italic;
}

.s-background {
    background-color: lightgray;
}

.s-bold {
    font-weight: bold;
}

.site-header {
    justify-content: center;
    width: 80%;
}

.site-nav {
    gap: 0.5rem;
    text-transform: uppercase;
    font-family: "Staatliches";
    font-size: 22px;
}

.site-nav li {
    list-style: none;
}

