

.profile-foto {
    margin-top: 20px;
    width: 500px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.7rem;
}


.profile-foto>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.profile-foto .photo-input {
    position: relative;
}

.profile-foto div .profile-foto-lable {
    position: absolute;
    left: 115px;
    top:7px;
    cursor: pointer;
}

.profile-foto div>button {
    width: 138px;
    height: 30px;
    background-color: transparent;
    border: 1px solid lightgray;
    cursor: pointer;
}

.profile-foto div>button>input {
    display: none;
}

.profile-foto div p {
    margin-top: 10px;
    width: 138px;
    font-size: 13px;
    font-weight: 400;
    color: #969696;
}

.profile-foto>button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-bottom: 27px;
}

.update-button {
    width: 150px;
    height: 38px;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-size: 15px;
}